<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>
        Login Screen
    </title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="container">
      <form action="#">
        <div class="title">Login</div>
        
      </form>
        <div class="google">
          <a href="/google"><i class="fab fa-google"></i>Sign in With Google</a>
        </div>
        <div class="facebook">
          <a href="/fb"><i class="fab fa-facebook-f"></i>Sign in With Facebook</a>
        </div>
    </div>
  </body>
</html>
