<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>
        Profile Screen
    </title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="container">
      <form action="#">
        <div class="title">Hello <i><u><%= name %></u></i></div>
        
      </form>
        <div class="details-container">
          <i> <img src="<%= pic %>" alt="" id="display-pic"> </i> <br>
          <div>Email:<strong> <%= email%> </strong></div>
          <div class="google">
            <a href="/logout"><i class="fas fa-sign-out-alt"></i>Logout</a>
          </div>
        </div>
    </div>
  </body>
</html>
